// Заголовки, загальні БЕМ блоки та інше...

a {
    transition: color 0.4s ease;

    &::before {
        transition: color 0.4s ease;
    }
}

h2 {
    font-weight: 600;
    font-size: rem(42);
    @include adaptiveValue("font-size", 42, 24);
    color: $blue;
}

h3 {
    font-weight: 500;
    font-size: rem(18);
    color: $blue;
}

.map {
    @include adaptiveValue("margin-bottom", 75, 36);
    // .map__container
    &__container {
        iframe {
            width: 100%;
            height: rem(550);
            border-radius: 10px;
        }
    }
}
