//====================================================================================================
.header {
	.home & {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
	}
	// .header__container
	&__container {
	}
	// .header__top
	&__top {
		margin-bottom: rem(42);
		padding: rem(12);
		border-bottom: 1px solid #d4e9f2;
	}
	// .header__center
	&__center {
		margin-bottom: rem(22);
	}
	// .header__bottom
	&__bottom {
		height: rem(60);
	}
}
.top-header {
	// .top-header__menu
	&__menu {
		.menu {
			// .menu__body
			&__body {
			}
			// .menu__list
			&__list {
				display: flex;
				gap: rem(30);
			}
			// .menu__item
			&__item {
			}
			// .menu__link
			&__link {
				color: $blue;
				font-size: rem(12);
				@media (any-hover: hover) {
					&:hover {
						color: $red;
					}
				}
			}
		}
	}
}
//========================================================================================================================================================

.center-header {
	// .center-header__container
	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: rem(20);
	}
	// .center-header__logo
	&__logo {
		transition: transform 0.2s ease;

		@media (any-hover: hover) {
			&:hover {
				transform: scale(1.02);
			}
		}
	}
	// .center-header__address
	&__address {
		align-items: center;
		gap: rem(10);

		font-size: rem(12);

		&::before {
			font-size: rem(21);
			color: $blue;
		}
	}
	// .center-header__phones
	&__phones {
		align-items: center;
		gap: rem(10);

		&::before {
			font-size: rem(21);
			color: $blue;
		}
	}
	// .bottom-header__social
	&__social {
	}
	// .bottom-header__callback
	&__callback {
		padding: rem(14) rem(18);
	}
}
.phones-header {
	// .phones-header__list
	&__list {
	}
	// .phones-header__item
	&__item {
		display: block;
		font-weight: 500;
		font-size: rem(18);

		@media (any-hover: hover) {
			&:hover {
				color: $blue;
			}
		}
	}
}
.social-header {
	// .social-header__email
	&__email {
		display: block;
		margin-bottom: rem(5);
		font-weight: 300;
		font-size: rem(14);
		color: $blue;

		&:hover {
			color: $red;
		}
	}
	// .social-header__list
	&__list {
		display: flex;
		justify-content: flex-end;

		a {
			gap: rem(6);
			font-size: rem(0);

			@media (any-hover: hover) {
				&:hover::before {
					color: $red;
				}
			}
			&::before {
				font-size: rem(16);
				color: $blue;
			}
		}
	}
}
//========================================================================================================================================================

.bottom-header {
	// .bottom-header__container
	&__container {
		display: flex;
		align-items: center;
		padding: 0;
		width: 100%;
		border-radius: 10px;
		background-color: $blue;

		overflow: hidden;
	}
	// .bottom-header__menu
	&__menu {
		width: 100%;
		flex: 1 1 auto;
		color: #fff;

		.menu {
			// .menu__icon
			&__icon {
			}
			// .menu__body
			&__body {
			}
			// .menu__list
			&__list {
				display: flex;
			}
			// .menu__item
			&__item {
				&.current-menu-item {
					.menu__link {
						background-color: #1375c6;
					}
				}
				&.menu-item-has-children {
					.menu__link {
						&:hover {
							opacity: 1;
							background-color: #fff;
							color: $blue;
						}
					}
				}
			}
			// .menu__link
			&__link {
				display: block;
				padding: rem(20);

				transition: all 0.4s ease;

				&:hover {
					opacity: 0.5;
				}
			}
		}
	}
	// .bottom-header__search
	&__search {
		display: flex;
		align-items: center;
		gap: rem(10);
		margin: rem(5);
		padding: rem(10);
		flex: 1 1 rem(380);
		background-color: #fff;
		height: rem(49);
		max-height: 100%;
		border-radius: 10px;
	}
}

.search-header {
	// .search-header__input
	&__input {
		width: 100%;
		flex: 1 1 auto;

		font-weight: 300;
		font-size: rem(14);

		&::placeholder {
			color: $blue;
		}
	}
	// .search-header__button
	&__button {
		flex: 0 0 rem(20);
		width: rem(20);
		height: rem(20);

		font-size: rem(0);
		color: $blue;

		&::before {
			font-size: rem(20);
		}
	}
}

//====================================================================================================

//Burger

.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		z-index: 5;
		@media (any-hover: none) {
			cursor: default;
		}
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
