//====================================================================================================
.header {
	.home & {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
	}
	// .header__container
	&__container {
	}
	// .header__top
	&__top {
		margin-bottom: rem(22);
		padding: rem(12) 0;
		border-bottom: 1px solid #d4e9f2;

		@media (min-width: $tablet) {
			margin-bottom: rem(42);
		}
	}
	// .header__center
	&__center {
		margin-bottom: rem(22);
	}
	// .header__bottom
	&__bottom {
		height: rem(60);
	}
}
//========================================================================================================================================================

.top-header {
	// .top-header__container
	&__container {
		@media (max-width: $mobile) {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
	}
	// .top-header__menu
	&__menu {
		.menu {
			// .menu__body
			&__body {
				@media (min-width: $mobile) {
					display: flex;
					align-items: center;
					justify-content: space-between;
					gap: rem(20);
				}
			}
			// .menu__list
			&__list {
				@media (min-width: $mobile) {
					display: flex;
					@include adaptiveValue("gap", 30, 5);
				}
			}
			// .menu__item
			&__item {
			}
			// .menu__link
			&__link {
				color: $blue;
				font-size: rem(12);
				@media (any-hover: hover) {
					&:hover {
						color: $red;
					}
				}

				@media (max-width: $mobile) {
					display: block;
					padding: 1.25rem;
					transition: all 0.4s ease;
					font-size: rem(14);
					color: #fff;
				}
			}
		}
	}
}
//========================================================================================================================================================

.center-header {
	// .center-header__container
	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: rem(20);
	}
	// .center-header__logo
	&__logo {
		transition: transform 0.2s ease;

		@media (any-hover: hover) {
			&:hover {
				transform: scale(1.02);
			}
		}

		@media (max-width: $mobileSmall) {
			img {
				max-width: rem(100);
				object-fit: contain;
			}
		}
	}
	// .center-header__address
	&__address {
		align-items: center;
		gap: rem(10);

		font-size: rem(12);

		&::before {
			font-size: rem(21);
			color: $blue;
		}
	}
	// .center-header__phones
	&__phones {
		gap: rem(10);

		&::before {
			margin-top: rem(2);
			@include adaptiveValue("font-size", 21, 16);
			color: $blue;
		}

		@media (min-width: $tablet) {
			align-items: center;
		}
	}
	// .bottom-header__social
	&__social {
	}
	// .bottom-header__callback
	&__callback {
		padding: rem(14) rem(18);

		@media (max-width: $mobile) {
			display: none;
		}
	}
}
.phones-header {
	// .phones-header__list
	&__list {
		@media (max-width: $tablet) {
			text-align: right;
		}
	}
	// .phones-header__item
	&__item {
		display: block;
		font-weight: 500;
		@include adaptiveValue("font-size", 18, 14);
		white-space: nowrap;

		@media (any-hover: hover) {
			&:hover {
				color: $blue;
			}
		}

		@media (max-width: $tablet) {
			.phones-header & {
				&:last-of-type {
					display: none;
				}
			}
		}
	}
}
.social-header {
	// .social-header__email
	&__email {
		display: block;
		margin-bottom: rem(5);
		font-weight: 300;
		font-size: rem(14);
		color: $blue;

		&:hover {
			color: $red;
		}

		@media (max-width: $mobile) {
			display: none;
		}
	}
	// .social-header__list
	&__list {
		display: flex;
		justify-content: flex-end;

		a {
			gap: rem(6);
			font-size: rem(0);

			@media (any-hover: hover) {
				&:hover::before {
					color: $red;
				}
			}
			&::before {
				font-size: rem(16);
				color: $blue;
			}
		}
	}
}
//========================================================================================================================================================

.bottom-header {
	// .bottom-header__container
	&__container {
	}
	// .bottom-header__wrapper
	&__wrapper {
		display: flex;
		align-items: center;
		border-radius: 10px;
		background-color: $blue;

		position: relative;

		.menu-open & {
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
		}
	}
	// .bottom-header__menu
	&__menu {
		width: 100%;
		flex: 1 1 auto;
		color: #fff;

		.menu {
			// .menu__icon
			&__icon {
			}
			// .menu__body
			&__body {
			}
			// .menu__list
			&__list {
				display: flex;

				.burger & {
					display: block;
				}
			}
			// .menu__item
			&__item {
				transition: background 0.4s ease;
				&.current-menu-item {
					.menu__link {
						background-color: #1375c6;
					}
				}
				&.menu-item-has-children {
					position: relative;

					&:hover {
						opacity: 1;
						background-color: #fff;
						color: $blue;

						& > .menu__list {
							opacity: 1 !important;
							z-index: 5;

							@media (max-width: $pc) {
								position: static;
							}

							@media (min-width: $pc) {
							}
						}

						&::after {
							border-color: #fff;
							border-top-color: $blue;
						}
					}

					&::after {
						content: "";
						display: block;
						flex: 0 0 rem(8);
						width: rem(8);
						height: rem(8);

						position: absolute;
						top: rem(29);
						right: rem(8);

						border: 4px solid $blue;
						border-top-color: #fff;

						transition: border-color 0.4s ease;
					}

					& > .menu__list {
						flex-direction: column;

						position: absolute;
						top: 100%;
						left: 0;

						min-width: rem(255);

						box-shadow: 0px 23px 62px 0px rgba(211, 231, 240, 0.9);

						background-color: #fff;

						color: $mainColor;

						opacity: 0;
						z-index: -1;

						& > .menu__item {
							&:hover {
								background-color: $blue;
								color: #fff;

								& > .menu__link {
									&::before {
										border-color: $blue !important;
										border-left-color: #fff !important;
										background-color: #fff !important;

										@media (max-width: $pc) {
											transform: rotate(90deg);
										}
									}
								}
							}
							&.menu-item-has-children {
								& > .menu__link {
									gap: rem(5);
									&::before {
										margin-top: rem(6);
										flex: 0 0 rem(8);
										width: rem(8);
										height: rem(8);
										background-color: #000;
										border: 4px solid #fff;
										border-left: 4px solid #000;
										border-radius: 0;
									}

									&:hover {
										&::before {
											border-color: $blue;
											border-left-color: #fff;
										}
									}
								}
							}
						}

						.menu__link {
							display: flex;
							gap: rem(10);

							padding: rem(15) rem(40);
							font-weight: 500;
							font-size: rem(14);

							/* &:hover {
								background-color: $blue;
								color: #fff;

								&::before {
									background-color: #fff;
								}
							} */

							&::before {
								content: "";
								display: block;
								margin-top: rem(6);
								flex: 0 0 rem(5);
								width: rem(5);
								height: rem(5);
								background-color: #000;
								border-radius: 50%;

								transition: all 0.4s ease;
							}
						}

						.menu__list {
							top: 0;
							left: 100%;

							opacity: 0;
						}
					}

					.menu__item {
						&::after {
							content: none;
						}
					}

					& > .menu__link {
						.touch & {
							pointer-events: none;
						}
					}

					.menu__link {
						opacity: 1 !important;
					}
				}
			}
			// .menu__link
			&__link {
				display: block;
				padding: rem(20);

				transition: all 0.4s ease;

				&:hover {
					opacity: 0.5;
				}
			}
		}
	}
	// .bottom-header__search
	&__search {
		display: flex;
		align-items: center;
		gap: rem(10);
		margin: rem(5);
		margin-left: auto;
		padding: rem(10);
		background-color: #fff;
		height: rem(49);
		max-height: 100%;
		border-radius: 10px;

		@media (min-width: $mobile) {
			flex: 0 0 rem(380);
		}
	}
}

.search-header {
	// .search-header__input
	&__input {
		width: 100%;
		flex: 1 1 auto;

		font-weight: 300;
		font-size: rem(14);

		&::placeholder {
			color: $blue;
		}
	}
	// .search-header__button
	&__button {
		flex: 0 0 rem(20);
		width: rem(20);
		height: rem(20);

		font-size: rem(0);
		color: $blue;

		&::before {
			font-size: rem(20);
		}
	}
}

//====================================================================================================

//Burger

.icon-menu {
	display: none;
	@media (max-width: $pc) {
		display: block;
		position: relative;
		margin-left: rem(5);
		width: rem(25);
		height: rem(18);
		z-index: 5;
		color: #fff;
		@media (any-hover: none) {
			cursor: default;
		}

		div {
			font-size: 0;
			@media (min-width: $mobile) {
				margin-left: rem(35);
				font-weight: 500;
				font-size: rem(16);
			}
		}
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #fff;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
