//====================================================================================================
.intro {
    padding-top: rem(210);
    padding-bottom: rem(77);
    background: url("@img/intro-bg.jpg") center no-repeat;

    background-size: cover !important;

    @media (max-width: $mobileSmall) {
        background-position: 54% 50%;
    }

    // .intro__container
    &__container {
    }
    // .intro__content
    &__content {
        padding-top: rem(120);
        @include adaptiveValue("padding-top", 120, 30);
        max-width: rem(600);
    }
    // .intro__top-title
    &__top-title {
        @include adaptiveValue("margin-bottom", 24, 18);
        font-weight: 500;
        @include adaptiveValue("font-size", 24, 16);
    }
    // .intro__title
    &__title {
        @include adaptiveValue("margin-bottom", 24, 18);
        text-transform: uppercase;
    }
    // .intro__subtitle
    &__subtitle {
        @include adaptiveValue("margin-bottom", 45, 24);
        font-weight: 300;
        @include adaptiveValue("font-size", 24, 16);
    }
    // .intro__button
    &__button {
    }
}
//====================================================================================================
.advantages {
    margin-bottom: rem(76);
    // .advantages__container
    &__container {
        position: relative;
        padding-top: rem(45);
        &::before {
            content: "";
            background: url("@img/adv_lines.png") 0 0 no-repeat;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
    // .advantages__list
    &__list {
        @include gridCards("fit", rem(300), 1fr, rem(23));
        position: relative;
        z-index: 2;

        @media (max-width: $mobile) {
            grid-template-columns: 1fr;
        }
    }
    // .advantages__item
    &__item {
        display: flex;
        flex-direction: column;
        gap: rem(30);

        padding: rem(15) rem(17);
        border-radius: 10px;
        background-color: #fff;
        box-shadow: 0px 23px 62px 0px rgba(211, 231, 240, 0.9);

        @media (min-width: $mobile) {
            padding: rem(30) rem(35);
        }

        @media (min-width: $pc) {
            flex-direction: row;
        }
    }
}
.item-advantages {
    // .item-advantages__icon
    &__icon {
        flex: 0 0 rem(70);
    }
    // .item-advantages__content
    &__content {
    }
    // .item-advantages__title
    &__title {
        margin-bottom: rem(20);
    }
    // .item-advantages__text
    &__text {
    }
}
//========================================================================================================================================================
.directions {
    margin-bottom: rem(65);
    // .directions__container
    &__container {
        border-radius: 10px;
        position: relative;
        overflow: hidden;

        &::after {
            content: "";
            background: url("@img/dir_lines.png") 0 0 no-repeat;
            position: absolute;
            top: 0;
            right: 0;

            width: 50%;
            height: 100%;
        }
    }
    // .directions__title
    &__title {
        margin-bottom: rem(24);
    }
    // .directions__subtitle
    &__subtitle {
        @include adaptiveValue("margin-bottom", 42, 24);
        max-width: rem(836);
        font-weight: 300;
    }
    // .directions__list
    &__list {
        @include gridCards("fit", rem(300), 1fr);

        @media (max-width: $mobile) {
            grid-template-columns: 1fr;
        }
    }
    // .directions__item
    &__item {
        display: flex;
        flex-direction: column;
        gap: rem(20);

        @media (min-width: $pc) {
            flex-direction: row;
        }
    }
}
.item-directions {
    // .item-directions__image
    &__image {
    }
    // .item-directions__content
    &__content {
    }
    // .item-directions__title
    &__title {
        margin-bottom: rem(20);
    }
    // .item-directions__text
    &__text {
    }
}
//========================================================================================================================================================
.confidence {
    margin-bottom: rem(50);

    // .confidence__container
    &__container {
    }
    // .confidence__title
    &__title {
        margin-bottom: rem(24);
    }
    // .confidence__subtitle
    &__subtitle {
        @include adaptiveValue("margin-bottom", 50, 24);
        max-width: rem(836);
    }
    // .confidence__content
    &__content {
        @media (min-width: $pc) {
            padding: rem(20) rem(25);
            overflow: hidden;

            position: relative;
        }
    }
    // .confidence__slider
    &__slider {
        padding: rem(20);
        @media (min-width: $pc) {
            padding: 0;
            overflow: visible !important;
        }
    }
    // .confidence__wrapper
    &__wrapper {
    }
    // .confidence__slide
    &__slide {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: rem(15);
        border-radius: 10px;
        overflow: hidden;
        background-color: #fff;
        box-shadow: 0px 6px 9px 0px rgba(176, 206, 220, 0.9);
        height: rem(100);

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    // .confidence__nav
    &__nav {
        display: none;
        @media (min-width: $pc) {
            position: absolute;
            top: 50%;
            left: 0;
            width: 100%;
            z-index: 22;

            transform: translate(0px, -50%);

            display: flex;
            justify-content: space-between;

            .swiper-button-next {
                transform: rotate(-180deg);
            }

            .swiper-button-next,
            .swiper-button-prev {
                path {
                    fill: $blue;
                }
            }
        }
    }
}
//========================================================================================================================================================
.home-catalog {
    margin-bottom: rem(80);
    position: relative;
    // .home-catalog__container
    &__container {
        position: relative;
        overflow: hidden;
        &::before {
            content: "";
            background: url("@img/dir_lines.png") 0 0 no-repeat;
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            width: 50%;
            height: 100%;
        }

        @media (min-width: $pc) {
            border: 1px solid #ddedf5;
            padding: rem(65) rem(45);
        }
    }
    // .home-catalog__title
    &__title {
        margin-bottom: rem(24);
    }
    // .home-catalog__subtitle
    &__subtitle {
        margin-bottom: rem(36);
    }
    // .home-catalog__list
    &__list {
        @include gridCards("fit", rem(300), 1fr, rem(32));
        margin-bottom: rem(70);
        position: relative;
        z-index: 2;
    }
    // .home-catalog__item
    &__item {
        display: flex;
        flex-direction: column;
        gap: rem(20);

        @media (min-width: $tablet) {
            flex-direction: row;
        }
    }

    // .home-catalog__actions
    &__actions {
        display: flex;
        flex-direction: column;
        gap: rem(20);

        @media (min-width: $mobileSmall) {
            flex-direction: row;
        }
    }
}
.item-home-catalog {
    // .item-home-catalog__image
    &__image {
        flex: 0 0 rem(136);
        width: rem(136);
        height: rem(136);

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    // .item-home-catalog__content
    &__content {
    }
    // .item-home-catalog__title
    &__title {
        margin-bottom: rem(22);
    }
    // .item-home-catalog__links
    &__links {
    }
    // .item-home-catalog__link
    &__link {
        margin-left: rem(10);

        &:hover {
            color: $red;
        }

        &:not(:last-child) {
            margin-bottom: rem(10);
        }
    }
}
//========================================================================================================================================================
.services {
    @include adaptiveValue("margin-bottom", 140, 50);
    // .services__container
    &__container {
        position: relative;
        overflow: hidden;

        @media (min-width: $pc) {
            padding: rem(30);
            border: 1px solid #ddedf5;
            border-radius: 10px;

            &::before {
                content: "";
                background: url("@img/dir_lines.png") 0 0 no-repeat;
                display: block;
                position: absolute;
                top: 0;
                right: 0;
                width: 50%;
                height: 100%;
            }
        }
    }
    // .services__header
    &__header {
        display: flex;
        flex-direction: column;
        gap: rem(32);

        @include adaptiveValue("margin-bottom", 70, 36);

        position: relative;
        z-index: 2;

        @media (min-width: $tablet) {
            flex-direction: row;
        }
    }
    // .services__list
    &__list {
        @include gridCards("fit", rem(300), 1fr);
        position: relative;
        z-index: 2;
    }
    // .services__item
    &__item {
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        background-color: rgb(255, 255, 255);
        overflow: hidden;

        @media (min-width: $pc) {
            padding: rem(15);
            &:hover {
                box-shadow: 0px 23px 62px 0px rgba(211, 231, 240, 0.9);
            }
        }
    }
    // .services__actions
    &__actions {
        display: flex;
        flex-direction: column;
        gap: rem(20);

        position: relative;
        z-index: 2;

        margin-top: rem(48);

        @media (min-width: $mobileSmall) {
            flex-direction: row;
            justify-content: center;
        }
    }
}
.header-services {
    // .header-services__image
    &__image {
        height: rem(335);
        border-radius: 10px;
        box-shadow: 0px 23px 62px 0px rgba(211, 231, 240, 0.9);
        overflow: hidden;

        /* transform: scaleY(1.05);
        transform-origin: left; */

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: top;
        }

        @media (min-width: $tablet) {
            flex: 0 0 55%;
        }
    }
    // .header-services__content
    &__content {
    }
    // .header-services__title
    &__title {
        margin-bottom: rem(22);
    }
    // .header-services__subtitle
    &__subtitle {
        margin-bottom: rem(28);
    }
    // .header-services__button
    &__button {
        @media (max-width: $mobileSmall) {
            width: 100%;
        }
    }
}
.item-services {
    // .item-services__image
    &__image {
        margin-bottom: rem(24);
        height: rem(180);

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 10px;
        }
    }
    // .item-services__title
    &__title {
        display: block;
        margin-bottom: rem(21);

        font-weight: 500;
        font-size: rem(18);
        color: $blue;

        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;

        &:hover {
            color: $red;
        }
    }
    // .item-services__subtitle
    &__subtitle {
        margin-bottom: rem(21);

        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
    // .item-services__link
    &__link {
        display: flex;
        align-items: center;
        gap: rem(20);

        margin-top: auto;
        padding-top: rem(21);

        border-top: 1px solid #e7f2f7;

        font-weight: 300;
        color: $red;

        transition: gap 0.4s ease;

        &:hover {
            gap: rem(30);
        }
    }
}
