.related {
    @include adaptiveValue("margin-bottom", 60, 14);
    position: relative;

    // .related__title
    &__title {
        @include adaptiveValue("margin-bottom", 32, 24);
    }
    // .related__excerpt
    &__excerpt {
        margin-bottom: 0;

        .touch & {
            @include adaptiveValue("margin-bottom", 48, 24);
        }
    }
    // .related__content
    &__content {
        overflow: hidden;

        @media (min-width: $tablet) {
            padding: rem(30) rem(15);
        }
    }
    // .related__slider
    &__slider {
        overflow: visible !important;
    }
    // .related__wrapper
    &__wrapper {
    }
    // .related__slide
    &__slide {
    }
    // .related__nav
    &__nav {
        display: none;
        @media (min-width: $mobile) {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 103%;

            position: absolute;
            bottom: 43%;
            left: rem(-20);

            .next {
                transform: rotate(-180deg);
            }

            path {
                fill: $blue;
            }
        }
    }
}
